td {
    border: 1px solid black;
}

td {
    width: 80px;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.delete-btn {
    width: 80px;
}

input[type='Submit'] {
    width: 80px;
}

.red {
    color: #fe2528;
}

.green {
    color: #04910a;
}